<!DOCTYPE html>
<html lang="en">
<head>
    <title>MapleTrack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="/icon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <div class="center-container">
        <div class="mainContent">
            <span class="title">Account Settings</span>
           
            <span class="subtitle">Change Password</span>
            
            <form class="signup">
                <div class="wrap" style="display: flex; align-items: center; ">
                    <input id="oldPassword" class="input" type="password" placeholder="Old password" name = "oldPassword">
                </div>            
                <div class="wrap" style="display: flex; align-items: center; ">
                    <input id="password" class="input" type="password" placeholder="New password" name="password" autocomplete="password">
                </div>
                
                <div class="wrap" style="display: flex; align-items: center; ">
                    <input id="checkPassword" class="input" type="password" placeholder="Confirm password" name = "checkPassword" autocomplete="checkPassword">
                </div>
                
                <button class="submit" disabled>Change Password</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
    <script src="/../public/javascript/utils/navbar.js"></script>
    <script src="/../public/javascript/utils/create.js"></script>
    <script src="/../public/javascript/account/account.js"></script>
    
    <script id="userdata" data-username="<%- username %>" data-username-id="<%- _id %>"></script>
</body>
</html>