<!DOCTYPE html>
<html lang="en">
<head>
    <title>MapleTrack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/editBosses.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <div class="center-container">
        <div class="mainContent">
            <div class ="topButtons"></div>
            <div class ="characterSelector"></div>
            <div class ="bosses"></div>
        </div>
        <button class="teste">Push me</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>
    <script src="/public/javascript/editBosses.js"></script>
    <script id="userdata" data-username="<%- username %>" data-username-id="<%- _id %>"></script>
</body>
</html>