<!DOCTYPE html>
<html lang="en">
<head>
    <title>MapleTrack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="/app/icon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <div class="center-container">
        <div class="mainContent">
            <div class= "filterButtons">
                <p>Class Filter</p>
                <div class ="buttonWrap">
                    <button class="filterButton" data-value="mage">  Mage    </button>
                    <div class ="vl"></div>
                    <button class="filterButton" data-value="thief"> Thief   </button>
                    <div class ="vl"></div>
                    <button class="filterButton" data-value="warrior">Warrior</button>
                    <div class ="vl"></div>
                    <button class="filterButton" data-value="bowman"> Bowman </button>
                    <div class ="vl"></div>
                    <button class="filterButton" data-value="pirate"> Pirate </button>
                    <div class ="vl"></div>
                    <button class="filterButton" data-value="bossing">Bossing</button>
                </div>
            </div>
            <div class= "characterCards">

            </div>
        </div>
    </div>
    <script id="userdata" data-username="<%- username %>" data-username-id="<%- _id %>"></script>
    <script src="/../public/javascript/progressBar.js"></script>
    <script src="/../public/javascript/navbar.js"></script>
    <script src="/../public/javascript/create.js"></script>
    <script src="/../public/javascript/serverDropdown.js"></script>
    <script src="/../public/javascript/cookies.js"></script>
    <script src="/../public/javascript/characterData.js"></script>
    <script src="/../public/javascript/home.js"></script>
</body>
</html>
