<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "logo">
        <img src="assets/logo/logo.webp"id ="logo">
        <form>
            <input id="username" class="input" type="text" placeholder="Username" />
            <input id="password" class="input" type="password" placeholder="Password" />
            <a href = "home.ejs">
                <p class= "Text">Forgot password?</p>
            </a>
            <input class="submit" type="submit" value="Login">
        </form>
        <p class="Text">
            Don't have a account?
        </p>
        <button onclick="location.href='/signup'">Click me</button>
    </div>
        
</body>
</html>