<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <title>Home</title>
    <script type="text/javascript" src="../public/javascript/signup.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "logo">
        <img src="assets/logo/logo.webp"id ='logo'>

        <form  action ="/signup" method="post">
            <input id="email" class="input" type="text" placeholder="Email Address" name = "email" required>
        
            <input id="username" class="input" type="text" placeholder="Username" name = "username" required>
            
        
            <input id="password" class="input" type="password" placeholder="Password" name ="password" required>

            <input id="check-password" class="input" type="password" placeholder="Confirm Password" name = "check-password" required>
            <input type="submit" />
        </form>
    </div>
        
</body>
</html>
