body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainContent{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 1596px;
    min-height: 799px;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 3px 250px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.portraitImage {
    height: calc(100vh - 116px);
}


.characterData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: calc(100vw - 659px);
    height: 799px;
    margin-right: 32px;
}
.buttonWrapper{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:24px;
}

.increaseAllButton,
.editButton{
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 600;
    height: 56px;
    width: 284px;
    color: #3D3D3D;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.increaseAllButton{
    background-color: #96E4A5;
}
.editButton{
    background-color: #D7D7D7;
}

.nameLinkLegion{
    display: flex;
    width: 724px;
    flex-direction: column;
    align-items: flex-end;
}
.characterIconDiv{
    display: flex;
    text-align: right;
    align-items: center;
}

.bossIcon{
    width: 77px;
    margin-right: 16px;
    height: 94px;
}

.characterName{
    display: inline;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 72px;
    color: black;
    width: 631px;
    height: fit-content;
}

.linkLegionClassJob{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: flex-start;
}

.linkSkillBlock,
.legionBlock{
    margin-top: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 86px;
    height: 13px;
    gap: 8px;
}

.linkSkillBlock span,
.legionBlock span{
    font-family: 'Montserrat';
    font-size: 16px;
}

.linkLegionTitle{
    font-weight: 500;
}

.linkImg,
.legionImg{
    width: 64px;
    height: 64px;
}

.jobDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.classType{
    font-size: 48px;
    font-family: 'Inter';
    width: 367px;
    text-align: right;
}

.jobLevel{
    font-size: 32px;
    font-family: 'Inter';
}

.levelDiv{
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: flex-end;
    gap: 8px;
}
.level{
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 200;
}

.levelNumber{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 44px;
}

.characterLevelBar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 32px;
    width: 800px;
    border-radius: 25px;
}
.characterLevelBar .progressBar{
    margin-left: 2px;
    height: 28px;
    border-radius: 25px;
}

.forceLevelBar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 8px;
    width: 195px;
    border-radius: 25px;
}
.forceLevelBar .progressBar{
    margin-left: 2px;
    height: 4px;
    border-radius: 25px;
}

.ArcaneForce,
.SacredForce{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 42px;
}
.ArcaneForceGrid,
.SacredForceGrid{
    display: flex;
    width: 794px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ArcaneForceWrapper,
.SacredForceWrapper {
    display: flex;
    height: 82px;
    width: 256px;
    align-items: center;
}

.arcaneForceData,
.sacredForceData{
    display: flex;
    flex-direction: column;
}

.ArcaneForceImage,
.SacredForceImage{
    width: 60px;
    height: 60px;
}

.ArcaneForceImage.off,
.SacredForceImage.off{
    filter: brightness(50%) saturate(0%);
}

.ArcaneForceLevel,
.SacredForceLevel{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
}
.levelWrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.exp{
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
}

.expNumber{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
}



.daysToMax{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
}

.unlockText{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
}

.dailyButton,
.weeklyButton{
    font-family: 'Inter';
    font-size: 14px;
    background-color: #96E4A5;
    border-radius: 25px;
    border: none;
    width: 96px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dailyButton:disabled,
.weeklyButton:disabled{
    color: #888;
    background-color: #ccc;
}

.flash{
    font-family: 'Inter';
    font-size: 32px;
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 1px 5px 1px #8F8F8F;
    top: 260px;

}
.notVisible{
    filter: opacity(1%);
    transition: 0.5s ease-in;
}

.visible{
    filter:opacity(100%);
    top: 220px;
}

.success{
    background-color: #96E4A5;
    color: #000000;
}

.failed{
    background-color: #C33232;
    color: #EDEDED;
}

.linkSkillToolTip:before,
.LegionImgTooltip:before{
content: '';
position: absolute;
border-style: solid;
border-width: 0 18px 23px;
border-color: #424242 transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -18px;
top: -27px;
left: 50%;
}


.linkSkillToolTip {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;

    position: absolute;
    width: auto;
    max-width: 380px;
    height: auto;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #424242;
    border: 4px solid #424242;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 10;
}

.LegionImgTooltip{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;

    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #FFFFFF;
    background: #424242;
    border: 4px solid #424242;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 10;
}