body {
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainContent {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 83.125vw;
    min-height: 87.706vh;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 0.188rem 15.625rem 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.portraitImage {
    height: calc(100vh - 116px);
}


.characterData {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: calc(100vw - 659px);
    height: 87.706vh;
    margin-right: 1.667vw;
}

.buttonWrapper {
    width: 100%;
    height: 7.903vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    position: relative;
}

.eventButton,
.increaseAllButton,
.editButton {
    font-family: 'Inter';
    font-size: 1.75rem;
    font-weight: 600;
    height: 6.147vh;
    width: 14.792vw;
    color: #3D3D3D;
    border: none;
    border-radius: 1.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eventButton {
    left: 4.2%;
    background-color: #91C9E3;
    width: 14.792vw;
    height: 6.147vh;
    margin-left: 16px;
    cursor: pointer;

    position: absolute;
    top: 1.756vh;
    border: none;
    overflow: hidden;
    bottom: auto;
    z-index: 2;
}

.eventButton.open {
    display: block;
    height: 73.764vh;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.closed {
    display: block;
    transition: all 0.3s ease-in-out;
}

.firstButton,
.eventNumber {
    height: 6.147vh;
    width: 14.792vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: #3D3D3D;
    font-weight: 600;
    border: none;
    background-color: #91C9E3;
    padding: 10px;
    margin: 0px;
    z-index: 2;
    cursor: pointer;
}

.eventNumber:hover {
    background-color: #4DA7D1;
}

.increaseAllButton {
    background-color: #96E4A5;
}

.editButton {
    background-color: #D7D7D7;
}

.nameLinkLegion {
    display: flex;
    width: 37.708vw;
    flex-direction: column;
    align-items: flex-end;
}

.characterIconDiv {
    display: flex;
    text-align: right;
    align-items: center;
}

.characterName {
    display: inline;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 4.5rem;
    color: black;
    width: 32.865vw;
    height: fit-content;
}

.linkLegionClassJob {
    display: flex;
    width: 46.875vw;
    justify-content: space-between;
    align-items: flex-start;
}


.bossIcon {
    width: 4.01vw;
    height: 10.318vh;
    margin-left: 3rem;
}

.linkSkillBlock,
.legionBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 4.479vw;
    height: 1.427vh;
    gap: 0.5rem;
}

.linkSkillBlock span,
.legionBlock span {
    font-family: 'Montserrat';
    font-size: 1rem;
}

.linkLegionTitle {
    font-weight: 500;
}

.linkImg,
.legionImg {
    width: 4rem;
    height: 4rem;
}

.jobDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.classType {
    font-size: 3rem;
    font-family: 'Inter';
    width: 19.115vw;
    text-align: right;
}

.jobLevel {
    font-size: 2rem;
    font-family: 'Inter';
}

.levelDiv {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: flex-end;
    gap: 0.5rem;
}

.level {
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 200;
}

.levelNumber {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 2.75rem;
}

.characterLevelBar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 3.513vh;
    width: 46.875vw;
    border-radius: 1.563rem;
}

.characterLevelBar .progressBar {
    margin-left: 0.22vh;
    height: 3.074vh;
    border-radius: 1.563rem;
}

.forceLevelBar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 0.5rem;
    width: 12.292vw;
    border-radius: 1.563rem;
}

.forceLevelBar .progressBar {
    margin-left: 0.22vh;
    height: 0.208vw;
    border-radius: 1.563rem;
}

.ArcaneForce,
.SacredForce {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.625rem;
}

.ArcaneForceGrid,
.SacredForceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-between;
    row-gap: 8px;
    width: 46.875vw;
}

.ArcaneForceWrapper,
.SacredForceWrapper {
    display: flex;
    height: 9.001vh;
    align-items: center;
}

.arcaneForceData,
.sacredForceData {
    display: flex;
    flex-direction: column;
}

.ArcaneForceImage,
.SacredForceImage {
    width: 3.75rem;
    height: 3.75rem;
}

.ArcaneForceImage.off,
.SacredForceImage.off {
    filter: brightness(50%) saturate(0%);
}

.ArcaneForceLevel,
.SacredForceLevel {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1.25rem;
}

.levelWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.exp {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 0.875rem;
}

.expNumber,
.daysToMax {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1rem;
}

.unlockText {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
}

.dailyButton,
.weeklyButton {
    font-family: 'Inter';
    font-size: 0.875rem;
    background-color: #96E4A5;
    border-radius: 1.563rem;
    border: none;
    width: 5.833vw;
    height: 2.634vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dailyButton:disabled,
.weeklyButton:disabled {
    color: #888;
    background-color: #ccc;
}

.flash {
    font-family: 'Inter';
    font-size: 2rem;
    position: absolute;
    z-index: 10;
    width: 26.042vw;
    height: 8.782vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.563rem;
    box-shadow: 0px 1px 0.313rem 1px #8F8F8F;
    top: 260px;

}

.notVisible {
    filter: opacity(1%);
    transition: 0.5s ease-in;
}

.visible {
    filter: opacity(100%);
    top: 24.149vh;
}

.success {
    background-color: #96E4A5;
    color: #000000;
}

.failed {
    background-color: #C33232;
    color: #EDEDED;
}

.linkSkillToolTip:before,
.LegionImgTooltip:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 1.125rem 1.438rem;
    border-color: #424242 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -0.938vw;
    top: -2.901vh;
    left: 50%;
}


.linkSkillToolTip {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 200;

    position: absolute;
    width: auto;
    max-width: 19.792vw;
    height: auto;
    padding: 0.625rem;
    display: flex;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #424242;
    border: 0.25rem solid #424242;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    z-index: 10;
}

.LegionImgTooltip {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 200;

    position: absolute;
    width: auto;
    height: auto;
    padding: 0.625rem;
    display: flex;
    text-align: left;
    align-items: center;
    color: #FFFFFF;
    background: #424242;
    border: 0.25rem solid #424242;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    z-index: 10;
}