::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 2px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #3D3D3D;
}

body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainContent{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 1596px;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 3px 250px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    flex-direction: column;
}

.topButtons{
    display: flex;
    position: relative;
    margin-top: 32px;
    margin-left: 32px;
    align-items: flex-end
}

.bossDiv{
    display: flex;
}

.bossIcon{
    width: 77px;
    margin-right: 8px;
    height: 97px;
}

.bossHunting{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    width: 154px;
    color: #3D3D3D;
}

.totalSelectedDiv{
    display: flex;
    height: 96px;
    width: 332px;
    background-color: #91C9E3;
    border-radius: 25px;
    align-items: center;
    margin-left: 16px;
    justify-content: space-between;
}

.crystalIcon{
    width: 65px;
    height: 73px;
    margin-left: 16px;
}
.WeekTextDiv,
.IncomeTextDiv{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 12px;
}

.totalSelectedBosses,
.TotalIncome{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: #3D3D3D;
}
.selectedTotal{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    color: #3D3D3D;
}

.totalIncomedDiv{
    display: flex;
    width: 340px;
    height: 96px;
    background-color: #91C9E3;
    border-radius: 25px;
    align-items: center;
    margin-left: 8px;
    justify-content: space-between;
}

.goldIcon{
    height: 78px;
    width: 80px;
    margin-left: 16px;
}

.totalIncomeText{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color: #3D3D3D;
}
.discardButton{
    width: 284px;
    height: 56px;
    background-color: #C33232;
    border-radius: 25px;
    border: none;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 500;
    color: #EDEDED;
    text-align: center;
    margin-left: 8px;
}
.saveButton{
    width: 284px;
    height: 56px;
    background-color: #45C332;
    border-radius: 25px;
    border: none;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 500;
    color: #3D3D3D;
    text-align: center;
    margin-left: 8px;
}

.characterSelector{
    margin-top: 58px;
    margin-left: 32px;
    height: 118px;
}

.dropdown{
    display: block;
    position: relative;
    width: 233px;
    z-index: 2;
    margin-left: 25px;
}

.dropdownToggle{
    display: block;
    width: 455px;
    max-height: 80px;
    background-color: #D7D7D7;
    border-radius: 25px;
    padding: 0;
    margin-top: 38px;
    font-size: 28px;
    font-weight: 600;
    color: #E3E3E3;
    border: none;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.dropdownToggle.open{
    position:absolute;
    max-height: 400px;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 1px 3px 1px #8F8F8F;
}

.dropdownToggle svg{
    margin-right: 24px;
}
.characterContent{
    max-height: 400px;
    overflow-y: auto;
}
.closed{
    display: block;
    transition: all 0.3s ease-in-out;
}

.rotate{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
  }  


.SelectedCharacterButton,
.characterButton{
    width: 451px;
    height: 80px;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0px;
    position: relative;
    justify-content: space-between;
    background-color: #D7D7D7;
    align-items: center;
}

.profile{
    position: absolute;
    filter: opacity(25%);
    margin: 0px;
    padding: 0px;
}

.characterWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 96px;
}


.characterName{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    color: #3D3D3D;
}

.characterClass{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #3D3D3D;
}

.characterButton{
    border-radius: 0px;
    border-top: 2px solid #ADADAD;
}

.bossPicture{
    width: 66px;
    height: 66px;
    margin-left: 24px;
}

.bossGrid{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: space-evenly;
    gap: 8px;
}

.bossGrid:last-child{
    margin-bottom: 8px;
}

.bossSlot{
    width: 727px;
}

.bossBox{
    display: flex;
    align-items: center;
    background-color: #D7D7D7;
    border-radius: 50px;
    height: 80px;
    width: 615px;
}

.bossBox.open{
    width: 727px;
}

.bossName{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 400;
    color: #3D3D3D;
    width: 130px;
    height: 78px;
    margin-left: 8px;
}
.buttonDiv{
    display: flex;
    gap: 8px;
}
.easyButton,
.normalButton,
.hardButton,
.chaosButton,
.extremeButton{
    font-family: 'Inter';
    font-size: 20px;
    width: 117px;
    height: 40px;
    border-radius: 50px;
    border: none;
}

.easyButton{
    color: #EDEDED;
    background-color: #9B9B9B;
}

.normalButton{
    color: #3D3D3D;
    background-color: #91C9E3;
}

.hardButton{
    color: #3D3D3D;
    background-color: #E39294;
}

.chaosButton{
    color: #EDEDED;
    background-color: #3D3D3D;
}

.extremeButton{
    color: #E39294;
    background-color: #3D3D3D;
}