body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainContent{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 1596px;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 3px 250px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.portraitImage{
    height: calc(100vh - 116px);
}

.characterData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: calc(100vw - 659px);
    height: calc(100vh - 116px);
    margin-right: 32px;
}
.buttonWrapper{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:24px;
}

.discardButton,
.saveButton{
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 600;
    height: 56px;
    width: 284px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.discardButton{
    background-color: #C33232;
    color: #FFF;
}
.saveButton{
    background-color: #45C332;
    color: #000;
}

.nameLinkLegion{
    display: flex;
    width: 724px;
    height: 221px;
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-end;
}
.characterIconDiv{
    display: flex;
    text-align: right;
    align-items: center;
}

.bossIcon{
    width: 77px;
    margin-right: 16px;
    height: 94px;
}

.characterName{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    display: inline;
    font-family: 'Inter';
    text-align: right;
    background-color: transparent;
    font-weight: 500;
    font-size: 72px;
    color: black;
    width: 631px;
    height: fit-content;
}
.characterName::placeholder{
    color: #666666;
}
.characterName:focus{
    outline: none;
}

.bossArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}
.bossText{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 80px;
}

.bossSwitch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
}

.bossSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #00D7A3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #00D7A3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(20px);
  }


.linkLegionClassJob{
    display: flex;
    right: 0;
    height: 127px;
    width: 730px;
    justify-content: space-between;
    align-items: flex-start;
}

.linkSkillBlock,
.legionBlock{
    margin-top: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 86px;
    height: 13px;
    gap: 8px;
}

.linkSkillBlock span,
.legionBlock span{
    font-family: 'Montserrat';
    font-size: 16px;
}

.linkLegionTitle{
    font-weight: 500;
}

.linkImg,
.legionImg{
    width: 64px;
    height: 64px;
}

.jobDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.classType{
    font-size: 56px;
    font-family: 'Inter';
    width: 367px;
    text-align: right;
}

.jobLevel{
    font-size: 40px;
    font-family: 'Inter';
}

.levelDiv{
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: flex-end;
    gap: 8px;
}
.level{
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 200;
}
.Bar{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}
.levelNumber,
.levelTarget{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    width: 91px;
    height: 58px;
    text-align: right;
    background-color: transparent;

}
.levelNumber::placeholder,
.levelTarget::placeholder{
    color: #888;
}
.levelNumber:focus,
.levelTarget:focus{
    outline:none;
}

.OuterEXPBar,
.InnerEXPBar{
    border-radius: 25px;
}

.OuterEXPBar{
    display: flex;
    align-items: center;
    background-color: black;
}
.InnerEXPBar{
    margin-left: 2px;
}

.innerLevelBar{
    height: 28px;
    margin-left: 2px;
    border-radius: 25px;
}
.arcaneForceDiv,
.sacredForceDiv{
    margin-top: 8px;
}
.ArcaneForce,
.SacredForce{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 48px;
}
.ArcaneForceGrid,
.SacredForceGrid{
    display: flex;
    width: 794px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ArcaneForceWrapper,
.SacredForceWrapper {
    display: flex;
    height: 82px;
    width: 256px;
    align-items: center;
}

.arcaneForceData,
.sacredForceData{
    display: flex;
    flex-direction: column;
}

.ArcaneForceImage,
.SacredForceImage{
    width: 60px;
    height: 60px;
}

.ArcaneForceImage.off,
.SacredForceImage.off{
    filter: brightness(50%) saturate(0%);
}

.ArcaneForceLevel,
.SacredForceLevel,
.exp,
.expContent{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
}
.expContent{
    margin-left: 4px;
}
.levelInput,
.expInput{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;

    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;

    width: 24px;

    background-color: transparent;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


.forceCheckbox{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;

    display: flex;
}

.expInput{
    width: 52px;
}

.levelWrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.expNumber{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
}



.daysToMax{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
}

.unlockText{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
}

.dailyButton,
.weeklyButton{
    font-family: 'Inter';
    font-size: 14px;
    background-color: #96E4A5;
    border-radius: 25px;
    border: none;
    width: 96px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dailyButton:disabled,
.weeklyButton:disabled{
    color: #888;
    background-color: #ccc;
}