body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
}

.topnav{
    position: absolute;
    background-color: #424242;
    width: 1920px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    font-size: 24px;
    font-family: Inter;
    color: #F6F6F6;
}

.logo{
    padding: 0;
    margin: 0;
    margin-left: 40px;
    height: 80px;
}
.searchSection {
    position: relative;
    display: flex;
    align-items: center;
    width: 624px;
    height: 56px;
    border: 0;
    color: #585858;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 15px;
    transition: border-bottom-left-radius 0.0001s ease, border-bottom-right-radius 0.00001s ease;
  }
  
  .searchSection.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f6f6f6;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }

  #searchResults.show {
    display: block;
  }
  
  .result {
    min-width: 628px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .result:last-child {
    margin-bottom: 0;
  }
  
  .result:hover {
    background-color: #E0E0E0;
  }
#search {
    color: #585858;
    font-size: 28px;
    width: 458px;
    margin-left: 25px;
    border: none;
    background-color: #F6F6F6;
}
#search:focus {
    outline: none;
}


#daily, #weekly{
    margin: 0px;
    padding: 0%;
    font-size: 24px;
    font-family: Inter;
    font-weight: regular;
}
#username_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 16px;
    width: 300px;
    font-size: 32px;
    font-weight: 200;
    font-family: Inter;
}

#username_block p{
    padding-left: 24px;
}