body {
    background-color: #424242;
    padding: 0;
    margin: 0;
}



.logo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo {
    padding-top: 2%;
    width: 40%;
    height: 40%;
    object-fit: contain;
}

form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter';
}

.username,
.password {
    margin-top: 1rem;
    padding: 0.313rem;
    width: 15.625vw;
    height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid #F6F6F6;
    font-family: 'Inter';
    outline: 0;

}

.username::placeholder,
.password::placeholder,
.login::placeholder {
    text-align: center;
    font-family: 'Inter';
    font-size: 1.25rem;
}

.login {
    margin-top: 0.5rem;
    width: 16.25vw;
    height: 5.708vh;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid #7BD96D;
    background-color: #7BD96D;
    color: #000000;
    font-family: 'Inter';
    cursor: pointer;
}



.submit {
    margin-top: 0.5rem;
    width: 16.25vw;
    height: 4.391vh;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid #F6F6F6;
    font-family: 'Inter';
}


a {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    text-align: right;
}

.forgotPassword {
    margin: 0;
    font-size: 1rem;
    color: #F6F6F6;
    font-family: 'Inter';
}

.noAccount {
    margin-top: 1rem;
    color: #F6F6F6;
    font-family: 'Inter';
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 4.94vh;
    width: 16.25vw;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    background-color: #f8d7da;
    color: #5F0C10;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 16px;
}

.failed {
    background-color: #f8d7da;
    color: #5F0C10;
}

.success {
    background-color: #D4EDDA;
    color: #0E3918;
}