
.topnav{
    position:sticky;
    top: 0;
    background-color: #424242;
    width: 100vw;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    font-size: 24px;
    font-family: Inter;
    color: #F6F6F6;
    z-index: 10;
}

.logo{
    padding: 0;
    margin: 0;
    margin-left: 40px;
    height: 80px;
}
.searchSection {
    position: relative;
    display: flex;
    align-items: center;
    width: 624px;
    height: 56px;
    border: 0;
    color: #585858;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 15px;
    transition: all 0.65s ease;
  }
  #daily,
  #weekly{
    text-align: center;
  }
  
  .searchSection.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f6f6f6;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }

  #searchResults.show {
    display: block;
  }
  
  .result {
    display: flex;
    min-width: 628px;
    padding: 10px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .result img{
    width: 32px;
    height: 32px;
    margin-left: 8px;
    vertical-align: center;
  }
  .result:last-child {
    margin-bottom: 0;
    border-radius: inherit;
  }
  
  .result:hover {
    background-color: #E0E0E0;
    cursor: pointer;
  }
#search {
    color: #585858;
    font-size: 28px;
    width: 458px;
    margin-left: 25px;
    border: none;
    background-color: #F6F6F6;
}
#search:focus {
    outline: none;
}


#daily, #weekly{
    margin: 0px;
    padding: 0%;
    font-size: 24px;
    font-family: Inter;
    font-weight: regular;
}
#usernameBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    width: 292px;
    font-size: 32px;
    font-weight: 300;
    font-family: Inter;
    cursor: pointer;
}

#usernameBlock p{
    padding-left: 4px;
}

#usernameBlock.icon-wrapper {
  padding-right: 24px;
  margin: 0px;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.dropdownContent.open {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdownContent.closed {
  display: block;
  transform-origin: top center;
  animation: shrinkUp 300ms ease-in-out forwards;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes shrinkUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}


.dropdownContent button {
  display: flex;
  padding: 16px;
  padding-right: 24px;
  margin-right: 0px;
  border: 1px solid #1D1D1D;
  text-decoration: none;
  background-color: #424242;
  border-bottom: none;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  width: 308px;
  font-weight: 300;
  font-family: Inter;
  color: #F6F6F6;
  z-index: 2;
  cursor: pointer;
}

.rotate{
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

#icon {
  transition: transform 0.3s ease-in-out;
}
