::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 2px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #8F8F8F;
}






body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainContent{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 1596px;
    min-height: 800px;

    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 3px 250px 0px rgba(0, 0, 0, 0.25);


}
.topButtons{
    display: flex;
    position: relative;
    margin-top: 32px;
    margin-left: 32px;
}
.bossDiv{
    display: flex;
}
.bossIcon{
    width: 77px;
    margin-right: 8px;
    height: 97px;
}
.bossHunting{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    width: 154px;
    color: #3D3D3D;
}

.WeekProgressDiv{
    display: flex;
    min-height: 96px;
    width: 328px;
    background-color: #91C9E3;
    border-radius: 25px;
    align-items: center;
    margin-left: 16px;
}

.crystalIcon{
    width: 65px;
    height: 73px;
    margin-left: 16px;
}

.WeekTextDiv,
.GoldTextDiv{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}
.weekProgress,
.totalProgress{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    color: #3D3D3D;
}

.totalProgress{
    text-align: right;
}

.OuterEXPBar,
.InnerEXPBar{
    border-radius: 25px;
}

.OuterEXPBar{
    display: flex;
    align-items: center;
    background-color: black;
}
.InnerEXPBar{
    margin-left: 2px;
    background-color: #96E4A5;
}

.goldIcon{
    height: 78px;
    width: 80px;
    margin-left: 16px;
}
.totalGainDiv{
    display: flex;
    min-height: 96px;
    width: 376px;
    background-color: #91C9E3;
    border-radius: 25px;
    align-items: center;
    margin-left: 16px;
    justify-content: space-between;
}
.GoldTextDiv{
    align-items: flex-end;
    margin-right: 16px;
}
.totalGainText{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: #3D3D3D;
}

.totalGoldValue{
    display: flex;
    font-family: 'Inter';
    font-weight: 400;
    color: #3D3D3D;
    min-height: 39px;
    align-items: center;
}
.dropdown{
    display: block;
    position: relative;
    width: 233px;
    z-index: 4;
    margin-left: 25px;
}

.dropdownToggle{
    display: block;
    width: 233px;
    max-height: 56px;
    background-color: #3C6997;
    border-radius: 25px;
    padding: 0;
    margin-top: 38px;
    font-size: 28px;
    font-weight: 600;
    color: #E3E3E3;
    border: none;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.dropdownToggle.open{
    position:absolute;
    max-height: 336px;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 5;
}


.dropdownContent:nth-child(2){
    border-top: 1px solid #2F5275;
}

.closed{
    display: block;
    transition: all 0.3s ease-in-out;
}

.rotate{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
  }  

  
.serverButton {
    height: 56px;
    width: 233px;
    display: flex;
    align-items: left;
    font-size: 28px;
    color: #E3E3E3;
    font-weight: 400;
    border: none;
    background-color: #3C6997;
    padding: 10px;
    margin: 0px;
    z-index: 2;
    cursor: pointer;
}
.serverButton.checked{
    font-size: 28px;
    color: #E3E3E3;
}
.serverButton:hover{
    background-color: #345C83;
    cursor: pointer;
}

.SelectedButton{
    width: 187px;
    height: 56px;
    background-color: #3C6997;
    border: none;
    font-size: 28px;
    color: #E3E3E3;
    display: flex;
    align-items: left;
    padding: 10px;
    cursor: pointer;
}

.serverButton img, .SelectedButton img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
}


.serverButton span, .SelectedButton span{
    padding-left:  16px;
    padding-right: 16px;
}


.selectedServer{
    display: flex;
    width: 233px;
    align-items: center;
    
}

.serverButton svg{
    margin-left: auto;
    padding-right: 4px;
}

.serverButton.not-selected svg{
    opacity: 0%;
}

.serverButton.selected svg{
    opacity: 100%;
    
}

.editButton{
    margin-top: 38px;
    margin-left: 16px;
    display: flex;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    color: #3D3D3D;
    border: none;
    border-radius: 25px;
    height: 56px;
    width: 216px;
    background-color: #D7D7D7;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.characters{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 104px;
    width: 1386px;
    min-height: 615px;
    margin-top: 66px;
    align-content: flex-start;
}

.characterDropdown{
    width: 451px;
    height: 150px;
    display: block;
    position: relative;
    cursor: pointer;
}

.buttonWrapper{
    display: block;
    width: 451px;
    max-height: 80px;
    border-radius: 25px;
    border: none;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
.buttonWrapper.closed{
    z-index: 2;
}
.buttonWrapper.open{
    max-height: 472px;
    width: 451px;
    cursor: pointer;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    z-index: 10;
    box-shadow: 0px 1px 3px 1px #8F8F8F;
    position: relative;
}


.characterButton{
    width: 451px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.bossButtonDiv{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 288px;
    width: 451px;
    position: relative;
}

.BossButton{
    border: none;
    position: relative;
    border-top: 2px solid #ADADAD;
    width: 451px;
    display: flex;
    height: 96px;
    cursor: pointer;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.BossButton:hover{
    filter:brightness(90%);
}

.BossButton svg{
    margin-left: auto;
    margin-right: 21px;
}

.bossImg{
    height: 67px;
    width: 66px;
    margin-left: 10px;
}

.BossText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}
.BossName{
    font-family: 'Inter';
    font-size: 32px;
}

.BossValue{
    font-family: 'Inter';
    font-size: 20px;
}



.profile{
    position: absolute;
    filter: opacity(25%);
    margin: 0px;
    padding: 0px;
}


.characterWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 96px;
}


.characterName{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    color: #3D3D3D;
}

.characterClass{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #3D3D3D;
}

.checked{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    color: #3D3D3D;
    margin-left: auto;
}

.characterButton svg{
    margin-left: auto;
    margin-right: 12px;
}

#icon{
    margin-right: 32px;
}