body{
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainContent{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 1596px;
    background-color: #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 3px 250px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.topButtons{
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
}
.bossDiv{
    display: flex;
}
.bossIcon{
    width: 77px;
    margin-right: 8px;
    height: 97px;
}
.bossHunting{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    width: 154px;
    color: #3D3D3D;
}

.WeekProgressDiv{
    height: 96px;
    width: 328px;
    background-color: #91C9E3;
    border-radius: 25px;
}

.crystalIcon{
    width: 65px;
    height: 73px;
    margin-left: 16px;
}